*{
    border: 1px solid green;
}

h1{
	margin: 5px;
}

button{
	margin-left: 50px;
	padding: 10px;
	color: blueviolet;
	background-color: black;
}

.pContainer{
	top: 10px;
	outline:2px solid #000;
	font-size: 0;
	margin: auto;
	padding: 0;
	display: grid;
	grid-gap: 0px;
	grid-template-columns: repeat(12, 1fr);
	align-self: center;
	justify-self: center;
	width: 45vw;
	height: 45vw;
	max-height: 960px;
	max-width: 960px;
}

.grid{
	min-height: 7px;
	min-width: 7px;
	border: 1px solid rgb(145, 145, 145);
}
