*{
    border: 1px solid green;
}

h1{
	margin: 5px;
}

.pContainer{
	top: 10px;
	outline:2px solid #000;
	font-size: 0;
	margin:auto;
	padding: 0;
	display: grid;
	grid-gap: 0px;
	grid-template-columns: repeat(12, 1fr);
	align-items: center;
	justify-items: center;
	width: max-content;
	height: max-content;
	max-height: 960px;
	max-width: 960px;
}

.grid{
	min-height: 7px;
	max-width: 75px;
	min-width: 7px;
	max-height: 75px;
	border: 1px solid rgb(145, 145, 145);
}
