*{
    border: 2px solid green;
}

h1{
	margin: 5px;
}

.pContainer{
	top: 10px;
	outline:2px solid #000;
	font-size: 0;
	margin:auto;
	padding: 0;
	display: grid;
	grid-gap: 1px;
	grid-template-columns: repeat(4, 1fr);
	align-items: center;
	justify-items: center;
	width: min-content;
	height: min-content;
	max-height: 960px;
	max-width: 960px;
}

.grid{
	min-height: 20px;
	max-width: 75px;
	min-width: 20px;
	max-height: 75px;
}
